<div class="productCard">
  <div class="img">
    <div class="status" *ngIf="product?.productStatus === 'new'">
      <span class="statusTitle">New</span>
    </div>
    <div class="like">
      <i class="icmn icmn-heart3"></i>
    </div>
    <a href="javascript: void(0);">
      <img src="{{product.images[0]?.url || emptyImage}}">
    </a>
  </div>
  <div class="title">
    <a href="javascript: void(0);">{{product.title}}</a>
    <div class="price">
      {{product.price}}
      <!-- <div class="oldPrice">{{product.productOldPrice}}</div> -->
    </div>
  </div>
  <div class="sizes">
    <span nzTitle="Size S" nzPlacement="top" nz-tooltip>S</span>
    <span nzTitle="Size M" nzPlacement="top" nz-tooltip>M</span>
    <span nzTitle="Size XL" nzPlacement="top" nz-tooltip>XL</span>
  </div>
  <div class="descr">
    {{product.shortDescription}}
  </div>
</div>
