<div class="productCard">
  <div class="img">
    <div class="status" *ngIf="product?.productStatus === 'new'">
      <span class="statusTitle">New</span>
    </div>
    <div class="like">
      <i class="icmn icmn-heart3"></i>
    </div>
    <a href="javascript: void(0);" (click)="handleClick();">
      <img src="{{product.images[0]?.url || emptyImage}}">
    </a>
  </div>
  <div class="title">
    <a href="javascript: void(0);" (click)="handleClick();">{{product.title}}</a>
    <div class="price">
      {{product.price}}
      <!-- <div class="oldPrice">{{product.productOldPrice}}</div> -->
    </div>
  </div>
  <div class="sizes">
    <span *ngFor="let size of product.sizes" [nzTitle]="sizes[size].text" class="text-uppercase" nzPlacement="top" nz-tooltip>{{size}}</span>
  </div>
  <div class="descr">
    {{product.shortDescription}}
  </div>
</div>
