<section class="card">
    <div class="cui-docs-dashboard">
      <aside class="cui-docs-dashboard-sidebar">
        <div class="cui-docs-dashboard-title">
          <a href="javascript: void(0)">Categories</a>
        </div>
        <nav class="cui-docs-dashboard-menu">
          <ul class="cui-docs-dashboard-menu-list">
            <li class="cui-docs-dashboard-menu-item">
              <a href="javascript: void(0)" class="cui-docs-dashboard-menu-link">
                Category Name
              </a>
            </li>
            <li class="cui-docs-dashboard-menu-item">
              <a href="javascript: void(0)" class="cui-docs-dashboard-menu-link">
                Category Name
              </a>
            </li>
          </ul>
        </nav>
      </aside>
      <div class="cui-docs-dashboard-wrapper">
        <div class="cui-docs-dashboard-header">
          <div class="cui-docs-dashboard-header-search">
            <input type="text" placeholder="Search products...">
            <i class="lnr lnr-magnifier"></i>
          </div>
          <a
            href="javascript: void(0)"
            class="cui-docs-dashboard-header-link btn btn-sm btn-primary"
          >
            Add Product
          </a>
        </div>
        <article class="cui-docs-dashboard-content">
          <header>
            <h1>
              <strong>Category Name</strong>
            </h1>
            <p>
              Learn about Clean Pay, a seamless way to start your company in the U.S. If you
              have any questions about the process after reading this, contact us at
            </p>
          </header>





          <section>
              <div class="row">
                  <div class="col-xl-4 col-lg-6 col-md-12">
                    <product-card></product-card>
                  </div>
                  <div class="col-xl-4 col-lg-6 col-md-12">
                    <product-card></product-card>
                  </div>
                  <div class="col-xl-4 col-lg-6 col-md-12">
                    <product-card></product-card>
                  </div>
                  <div class="col-xl-4 col-lg-6 col-md-12">
                    <product-card></product-card>
                  </div>
                  <div class="col-xl-4 col-lg-6 col-md-12">
                    <product-card></product-card>
                  </div>
                  <div class="col-xl-4 col-lg-6 col-md-12">
                    <product-card></product-card>
                  </div>
                  <div class="col-xl-4 col-lg-6 col-md-12">
                    <product-card></product-card>
                  </div>
                  <div class="col-xl-4 col-lg-6 col-md-12">
                    <product-card></product-card>
                  </div>
                  <div class="col-xl-4 col-lg-6 col-md-12">
                    <product-card></product-card>
                  </div>
                  <div class="col-xl-4 col-lg-6 col-md-12">
                    <product-card></product-card>
                  </div>
                  <div class="col-xl-4 col-lg-6 col-md-12">
                    <product-card></product-card>
                  </div>
                  <div class="col-xl-4 col-lg-6 col-md-12">
                    <product-card></product-card>
                  </div>
                </div>
          </section>

        </article>
      </div>
    </div>
  </section>
