<section class="card">
    <div class="cui-docs-dashboard">
      <aside class="cui-docs-dashboard-sidebar">
        <div class="cui-docs-dashboard-title">
          <a href="javascript: void(0)">Categories</a>
        </div>
        <nav class="cui-docs-dashboard-menu">
          <ul class="cui-docs-dashboard-menu-list" >
            <li class="cui-docs-dashboard-menu-item" *ngFor="let category of categories$ | async">
              <a href="javascript: void(0)" [ngClass]="{active: category._id == (activeCategory$ | async)?._id}" (click)="selectCategory(category)" class="cui-docs-dashboard-menu-link">
                {{category.name}}
              </a>
            </li>
          </ul>
        </nav>
      </aside>
      <div class="cui-docs-dashboard-wrapper">
        <div class="cui-docs-dashboard-header">
          <div class="cui-docs-dashboard-header-search">
            <input type="text" (keyup)="onSearch($event)" placeholder="Search products...">
            <i class="lnr lnr-magnifier"></i>
          </div>
          <button nz-button nzType="primary" [routerLink]="['./new']">Add Product</button>
        </div>
        <article class="cui-docs-dashboard-content">
          <header *ngIf="activeCategory$ | async as activeCategory">
            <h2>
              <strong>{{activeCategory?.name}}</strong>
            </h2>
            <p>{{activeCategory?.description}}</p>
          </header>
          <section>
            <div class="row" *ngIf="products$ | async as products">
                <div class="col-xl-4 col-lg-6 col-md-12" *ngFor="let product of products">
                  <product-card [product]="product" (onClick)="navigateTo(['/ecommerce/product-details/', product._id])"></product-card>
                </div>
              </div>
          </section>

        </article>
      </div>
    </div>
  </section>
