<div class="card">
    <div class="card-header">
      <div class="utils__title">
        <strong>
          Orders
        </strong>
      </div>
    </div>
    <div class="card-body">
      <nz-table
        #orderTable
        [(nzPageSize)]="pageSize"
        [(nzPageIndex)]="pageIndex"
        [nzData]="orders"
      >
        <thead>
        <tr>
          <th>ID</th>
          <th>Purchase Date</th>
          <th>Customer</th>
          <th>Phone</th>
          <th>Total Price</th>
          <th>Quantity</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let order of orderTable.data">
          <td>
            <a href="javascript: void(0);" class="utils__link--underlined">
              #{{order.order}}
            </a>
          </td>
          <td>
            {{order.date | date}}
          </td>
          <td>
            <a href="javascript: void(0);" class="utils__link--underlined">
              {{order.name}}
            </a>
          </td>
          <td>
            {{order.phone}}
          </td>
          <td>
            ${{order.total}}
          </td>
          <td>
            {{order.quantity}}
          </td>
          <td>
            <span *ngIf="order.paid; else noPaid" class="badge badge-default font-size-12">Shipping</span>
            <ng-template #noPaid>
              <span class="badge badge-primary font-size-12">Pending payment</span>
            </ng-template>
          </td>
          <td>
            <button nz-button class="mr-1" nzSize="small"><i nz-icon nzType="edit" theme="outline"></i> View</button>
            <button nz-button class="mr-1" nzSize="small"><i nz-icon nzType="delete" theme="outline"></i> Remove</button>
          </td>
        </tr>
        </tbody>
      </nz-table>
    </div>
  </div>

