<div class="block">
  <div class="row">
    <div class="col-xl-12">
      <div class="inner">
        <div class="form">
          <h4 class="text-uppercase">
            <strong>Please register</strong>
          </h4>
          <br />
          <form nz-form [nzLayout]="'vertical'" [formGroup]="form" (ngSubmit)="submitForm()" role="form">
            <nz-form-item>
              <nz-form-control>
                <nz-input-group [nzPrefix]="prefixUser">
                  <input nz-input id="email" formControlName="email" placeholder="Email">
                </nz-input-group>
                <nz-form-explain *ngIf="email.dirty && email.invalid">
                  <span *ngIf="email.errors['required']">Please input your e-mail address</span>
                  <span *ngIf="email.errors['email']">Please input valid e-mail address</span>
                </nz-form-explain>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control>
                <nz-input-group [nzPrefix]="prefixLock">
                  <input type="password" nz-input id="password" formControlName="password" placeholder="Input your password">
                </nz-input-group>
                <nz-form-explain *ngIf="password.dirty && password.invalid">
                  <span *ngIf="password.errors['required']">Please input your password</span>
                  <span *ngIf="password.errors['minlength']">Password length must be minimal {{password.errors['minlength']['requiredLength']}} symbols, now {{password.errors['minlength']['actualLength']}}</span>
                </nz-form-explain>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control>
                <nz-input-group [nzPrefix]="prefixLock">
                  <input type="password" nz-input id="confirm" formControlName="confirm" placeholder="Confirm your password">
                </nz-input-group>
                <nz-form-explain *ngIf="confirm.dirty && confirm.invalid">
                  <!-- <span *ngIf="confirm.errors['required']">Please input your password</span>
                  <span *ngIf="confirm.errors['minlength']">Password length must be minimal {{confirm.errors['minlength']['requiredLength']}} symbols, now {{password.errors['minlength']['actualLength']}}</span> -->
                </nz-form-explain>
              </nz-form-control>
            </nz-form-item>
            <div>
              <label nz-checkbox>
                Mail Subscription
              </label>
            </div>
            <div class="form-actions">
              <button nz-button nzType="primary" class="width-150 mr-3" [disabled]="form.invalid || form.disabled">
                Sign up
              </button>
              <span class="login-link">
                <a  routerLink="/auth/login" class="utils__link--blue utils__link--underlined">Login</a>
                if you have an account
              </span>
            </div>
            <div class="form-group">
              <p>Use another service to Sign Up</p>
              <div class="mt-2">
                <a href="javascript: void(0);" class="btn btn-icon mr-2">
                  <i class="icmn-facebook"></i>
                </a>
                <a href="javascript: void(0);" class="btn btn-icon mr-2">
                  <i class="icmn-google"></i>
                </a>
                <a href="javascript: void(0);" class="btn btn-icon mr-2">
                  <i class="icmn-windows"></i>
                </a>
                <a href="javascript: void(0);" class="btn btn-icon mr-2">
                  <i class="icmn-twitter"></i>
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #prefixUser><i nz-icon type="user"></i></ng-template>
<ng-template #prefixLock><i nz-icon type="lock"></i></ng-template>
