<div class="block">
  <div class="row">
    <div class="col-xl-12">
      <div class="inner">
        <div class="form">
          <h4 class="text-uppercase">
            <strong>Please register</strong>
          </h4>
          <br />
          <form nz-form [nzLayout]="'vertical'" [formGroup]="form" (ngSubmit)="submitForm()" role="form">
            <nz-form-item>
              <nz-form-control nzErrorTip="Input your username">
                <nz-input-group [nzPrefix]="prefixUser">
                  <input type="text" nz-input id="username" formControlName="username" placeholder="Username">
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control nzErrorTip="Please input valid email address">
                <nz-input-group [nzPrefix]="prefixMail">
                  <input nz-input id="email" formControlName="email" placeholder="Email">
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control [nzErrorTip]="errorPasswordTpl">
                <nz-input-group [nzPrefix]="prefixLock">
                  <input type="password" nz-input id="password" formControlName="password" placeholder="Password">
                  <ng-template #errorPasswordTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">Please input your password</ng-container>
                    <ng-container *ngIf="control.hasError('minlength')">Password length must be minimal {{password.errors['minlength']['requiredLength']}} symbols, now {{password.errors['minlength']['actualLength']}}</ng-container>
                  </ng-template>
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control [nzErrorTip]="errorConfirmTpl">
                <nz-input-group [nzPrefix]="prefixLock">
                  <input type="password" nz-input id="confirm" formControlName="confirm" placeholder="Confirm password">
                  <ng-template #errorConfirmTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">Please confirm your password</ng-container>
                    <ng-container *ngIf="control.hasError('mismatch')">Password mismatch</ng-container>
                  </ng-template>
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <div>
              <label nz-checkbox>
                Mail Subscription
              </label>
            </div>
            <div class="form-actions">
              <button nz-button nzType="primary" class="width-150 mr-3" [disabled]="form.invalid || form.disabled">
                Sign up
              </button>
              <span class="login-link">
                <a  routerLink="/auth/login" class="utils__link--blue utils__link--underlined">Login</a>
                if you have an account
              </span>
            </div>
            <div class="form-group">
              <p>Use another service to Sign Up</p>
              <div class="mt-2">
                <a href="javascript: void(0);" class="btn btn-icon mr-2">
                  <i class="icmn-facebook"></i>
                </a>
                <a href="javascript: void(0);" class="btn btn-icon mr-2">
                  <i class="icmn-google"></i>
                </a>
                <a href="javascript: void(0);" class="btn btn-icon mr-2">
                  <i class="icmn-windows"></i>
                </a>
                <a href="javascript: void(0);" class="btn btn-icon mr-2">
                  <i class="icmn-twitter"></i>
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #prefixUser><i nz-icon type="user"></i></ng-template>
<ng-template #prefixMail><i nz-icon type="mail"></i></ng-template>
<ng-template #prefixLock><i nz-icon type="lock"></i></ng-template>
