<div class="footer">
  <div class="inner">
    <div class="row">
      <div class="col-lg-9">
        <p>
          <strong>CRMoon - Simple Solution for Your App!</strong>
        </p>
        <p>
          Also, this is a framework, which uses the concept of modularity. The use of such approach allows you to
          drastically reduce the time and cost of development. Build the interface from the ready blocks and modules
          quickly and easily, like Lego!
        </p>
      </div>
    </div>
    <div class="bottom">
      <div class="row">
        <div class="col-sm-6">
          <div class="copyright">
            <img src="assets/images/kz-light.svg" alt="Kirill Zhurin" />
            <span>
              © 2019
              <a href="http://kirillzhurin.com/">
                Kirill Zhurin
              </a>
              <br />
              <a href="mailto:dev.kirillzhurin@gmail.com">dev.kirillzhurin@gmail.com</a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
