<div>
  <div class="row">
    <div class="col-md-6">
      <h4 class="text-black mb-3">
        <strong>{{senderName}}</strong>
        <br />
        <br />
        <img class="mr-2" src={{senderLogo}} height="50" alt="Amazon" />
      </h4>
      <address>
        {{senderAdress}}
        <br />
        <abbr class="mr-2" title="Mail">
          E-mail:
        </abbr>
        {{senderEmail}}
        <br />
        <abbr class="mr-2" title="Phone">
          Phone:
        </abbr>
        {{senderPhone}}
        <br />
        <abbr class="mr-2" title="Fax">
          Fax:
        </abbr>
        {{senderFax}}
        <br />
        <br />
      </address>
    </div>
    <div class="col-md-6 text-right">
      <h4 class="text-black mb-3">
        <strong>Invoice Info</strong>
      </h4>
      <p>
        <a class="font-size-20" href="javascript: void(0);">
          {{data.invoiceNumber}}
        </a>
        <br />
        <span class="font-size-20">{{data.name}}</span>
      </p>
      <address>
        {{data.address}}
        <br />
        <abbr class="mr-2" title="Phone">
          P:
        </abbr>
        {{data.phone}}
        <br />
      </address>
      <span>Invoice Date: {{invoiceDate}}</span>
      <br />
      <span>Due Date: {{invoiceDueDate}}</span>
      <br />
      <br />
    </div>
  </div>
  <nz-table #basicTable [nzShowPagination]="false" [nzData]="data.list">
    <thead>
      <tr>
        <th>Number</th>
        <th>Description</th>
        <th>Color</th>
        <th>Size</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let position of data.list; let idx = index">
        <td>{{idx + 1}}</td>
        <td>{{position.title}}</td>
        <td>{{position.color}}</td>
        <td>{{position.size}}</td>
        <td>{{position.quantity}}</td>
        <td>${{position.price}}</td>
        <td>${{position.quantity * position.price}}</td>
      </tr>
    </tbody>
  </nz-table>
  <div class="text-right clearfix mt-5">
    <div class="pull-right">
      <strong>Total: <span>{{data.total}}</span></strong>
    </div>
  </div>
</div>
