<div class="card">
    <div class="card-header">
      <div class="utils__title"><strong>{{id ? 'Edit' : 'New'}} Product</strong></div>
    </div>
    <div class="card-body">
      <form [formGroup]="form" nz-form nzLayout="vertical" (ngSubmit)="onSubmit()">
        <h4 class="text-black mb-3"><strong>Main Parameters</strong></h4>
        <div class="row">
          <div class="col-lg-8">
            <div class="row">
              <div class="col-lg-6">
                <nz-form-item>
                  <nz-form-label nzFor="title" nzRequired>Title</nz-form-label>
                  <nz-form-control>
                    <input nz-input formControlName="title" name="title" type="text" id="title" placeholder="Product title">
                  </nz-form-control>
                </nz-form-item >
              </div>
              <div class="col-lg-6">
                <nz-form-item>
                  <nz-form-label nzFor="sku" nzRequired>SKU</nz-form-label>
                  <nz-form-control>
                    <input nz-input formControlName="sku" name="sku" type="text" id="sku" placeholder="Product SKU">
                  </nz-form-control>
                </nz-form-item >
              </div>
              <div class="col-lg-12">
                <nz-form-item>
                  <nz-form-label nzFor="category" nzRequired>Product category</nz-form-label>
                  <nz-form-control>
                    <nz-select
                      id="category"
                      nzShowSearch
                      nzAllowClear
                      formControlName="category"
                      nzPlaceHolder="Select a category"
                    >
                      <nz-option [nzLabel]="category.name" [nzValue]="category._id" *ngFor="let category of categories$ | async"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label nzFor="shortDescr">Short Description</nz-form-label>
                  <nz-form-control>
                    <textarea rows="3" nz-input id="shortDescr" placeholder="Short Description" formControlName="shortDescription"></textarea>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label nzFor="fullDescr">Full Description</nz-form-label>
                  <nz-form-control>
                    <textarea rows="3" nz-input id="fullDescr" placeholder="Full Description" formControlName="fullDescription"></textarea>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label nzFor="price" nzRequired>Price</nz-form-label>
                  <nz-form-control>
                    <nz-input-number
                      class="w-100"
                      name="price"
                      id="price"
                      formControlName="price"
                      [nzMin]="0.1"
                      [nzStep]="0.1"
                      [nzFormatter]="formatterDollar"
                      [nzParser]="parserDollar"
                    ></nz-input-number>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
            <h4 class="text-black mt-2 mb-3">
              <strong>Attributes</strong>
            </h4>
            <div class="row">
              <div class="col-lg-6">
                <nz-form-item>
                  <nz-form-label nzFor="colors">Colors</nz-form-label>
                  <nz-form-control>
                    <nz-select nzMode="tags" id="colors" formControlName="colors" nzPlaceHolder="Choose product color">
                      <nz-option *ngFor="let color of colors" [nzValue]="color" [nzLabel]="capitalize(color)"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div class="col-lg-6">
                <nz-form-item>
                  <nz-form-label nzFor="size">Size</nz-form-label>
                  <nz-form-control>
                    <nz-select nzMode="tags" id="size" formControlName="sizes" nzPlaceHolder="Choose product size">
                      <nz-option *ngFor="let size of sizes" [nzValue]="size.key" [nzLabel]="size.text"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <nz-upload
              nzAccept="image/*"
              nzListType="picture-card"
              nzAction="/api/upload/image"
              nzName="image"
              [(nzFileList)]="fileList"
              [nzShowUploadList]="showUploadList"
              [nzPreview]="handlePreview"
              class="height-200 mb-3 d-block"
              nzType="drag"
              [nzMultiple]="true"
            >
              <p class="ant-upload-drag-icon">
                <i nz-icon type="inbox"></i>
              </p>
              <p class="ant-upload-text">Click or drag file to this area to upload</p>
            </nz-upload>
            <nz-modal
              [nzVisible]="previewVisible"
              [nzContent]="modalContent"
              [nzFooter]="null"
              (nzOnCancel)="previewVisible = false"
            >
              <ng-template #modalContent>
                <img [src]="previewImage" [ngStyle]="{ width: '100%' }" />
              </ng-template>
            </nz-modal>
          </div>
          <div class="col-lg-12">
            <div class="form-actions">
              <button nz-button nzType="primary" type="submit" class="mr-2" [disabled]="form.invalid">Save Product</button>
              <button nz-button [routerLink]="['/ecommerce/products']">Cancel</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
