<div class="card">
    <div class="card-body">
      <div class="cui-cart">
        <div class="cui-cart-steps">
          <nz-steps [nzCurrent]="step">
            <nz-step nzTitle="Cart" nzIcon="shopping-cart" class="cui-cart-step"></nz-step>
            <nz-step nzTitle="Shipment and Payment" nzIcon="tags" class="cui-cart-step"></nz-step>
            <nz-step nzTitle="Confirmation" nzIcon="credit-card" class="cui-cart-step"></nz-step>
          </nz-steps>
        </div>
        <div class="cui-cart-steps-content">
          <div *ngIf="step === 0">
            <nz-table #ordersTable [nzShowPagination]="false" [nzData]="positions$ | async" class="utils__scrollTable" [nzScroll]="{x: '100%'}">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Description</th>
                  <th>Color</th>
                  <th>Size</th>
                  <th>Quantity</th>
                  <th>Unitcost</th>
                  <th>Total</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let position of positions$ | async; let idx = index">
                  <td>{{ idx + 1 }}</td>
                  <td>
                    <a class="utils__link--underlined" href="javascript: void(0);">
                      {{position.title}}
                    </a>
                  </td>
                  <td class="text-capitalize">{{ position.color }}</td>
                  <td class="text-uppercase">{{ position.size }}</td>
                  <td>
                    <nz-input-number [(ngModel)]="position.quantity" (ngModelChange)="changeQuantity(position)" [nzMin]="1" [nzStep]="1"></nz-input-number>
                  </td>
                  <td>${{position.price}}</td>
                  <td>${{position.price * position.quantity}}</td>
                  <td>
                    <button nz-button (click)="onDelete(position)"><i nz-icon nzType="delete"></i> Remove</button>
                  </td>
                </tr>
              </tbody>
            </nz-table>
            <div class="text-right clearfix mt-4">
              <div class="pull-right">
                <strong>Total: <span>${{total$ | async}}</span></strong>
              </div>
            </div>
          </div>
          <div *ngIf="step === 1">
            <div class="row">
              <div class="col-md-12">
                <h4 class="text-black mb-3">
                  <strong>Shipment Details</strong>
                </h4>
                <form [formGroup]="form" (ngSubmit)="onSubmit()" nz-form nzLayout="vertical">
                  <div class="row">
                    <div class="col-md-6">
                      <nz-form-item>
                        <nz-form-label nzFor="email" nzRequired>Email</nz-form-label>
                        <nz-form-control>
                          <input nz-input id="email" placeholder="Email" formControlName="email">
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                    <div class="col-md-6">
                      <nz-form-item>
                        <nz-form-label nzFor="phone" nzRequired>Phone Number</nz-form-label>
                        <nz-form-control>
                          <input nz-input id="phone" placeholder="Phone Number" formControlName="phone">
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                    <div class="col-md-6">
                      <nz-form-item>
                        <nz-form-label nzFor="name" nzRequired>Name</nz-form-label>
                        <nz-form-control>
                          <input nz-input id="name" placeholder="Name" formControlName="name">
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                    <div class="col-md-6">
                      <nz-form-item>
                        <nz-form-label nzFor="surname" nzRequired>Surname</nz-form-label>
                        <nz-form-control>
                          <input nz-input id="surname" placeholder="Surname" formControlName="surname">
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                    <div class="col-md-12">
                      <nz-form-item>
                        <nz-form-label nzFor="city" nzRequired>City</nz-form-label>
                        <nz-form-control>
                          <input nz-input id="city" placeholder="City" formControlName="city">
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                    <div class="col-md-12">
                      <nz-form-item>
                        <nz-form-label nzFor="address" nzRequired>Address</nz-form-label>
                        <nz-form-control>
                          <input nz-input id="address" placeholder="Address" formControlName="address">
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div *ngIf="step === 2">
            <invoice [data]="getInvoiceData((positions$ | async), (total$ | async))"></invoice>
          </div>
        </div>
        <div class="cui-cart-steps-action">
          <button nz-button nzType="default" (click)="pre()" *ngIf="step > 0">
            <span>Previous</span>
          </button>
          <button nz-button nzType="default" (click)="next()" [disabled]="form.invalid && step == 1 || !(positions$ | async).length" *ngIf="step < 2">
            <span>Next</span>
          </button>
          <button nz-button nzType="primary" (click)="done()" *ngIf="step === 2">
            <span>Done</span>
          </button>
        </div>
      </div>
    </div>
  </div>
