<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <div class="utils__title">
        <strong>Product Details</strong>
      </div>
      <button nz-button nzType="primary" [routerLink]="['/ecommerce/products', id]">Edit</button>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-4">
          <div class="cui-product-details-item">
            <div class="cui-product-details-img">
              <nz-carousel  #productImagesCarousel [nzEffect]="'scrollx'" [nzEnableSwipe]="true">
                <div nz-carousel-content *ngFor="let image of product?.images">
                  <img draggable="false" [src]="image.url" class="cui-product-details-img">
                </div>
              </nz-carousel>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <h4 class="cui-product-details-main-title"><strong>{{product?.title}}</strong></h4>
          <div>SKU: {{product?.sku}}</div>
          <div class="cui-product-details-price">${{product?.price}}</div>
          <hr>
          <div class="row">
            <div class="col-lg-6">
              <div class="cui-product-details-option-title">
                Color
              </div>
              <div class="cui-product-details-option">
                <nz-select [(ngModel)]="color" style="width: 120px;" [nzSize]="'small'">
                  <nz-option *ngFor="let color of product?.colors" [nzValue]="color" [nzLabel]="capitalize(color)"></nz-option>
                </nz-select>
              </div>
              <div class="cui-product-details-option-title">
                Sizes
              </div>
              <div class="cui-product-details-option">
                <nz-radio-group nzSize="small" [(ngModel)]="size">
                  <label nz-tooltip  [nzTitle]="" nzPlacement="top" class="text-uppercase" nz-radio-button *ngFor="let size of product?.sizes" [nzValue]="size">{{size}}</label>
                </nz-radio-group>
              </div>
            </div>
          </div>
          <div class="cui-product-details-info">
              <nz-tabset>
                <nz-tab nzTitle="Information">
                  <p>{{product?.shortDescription}}</p>
                </nz-tab>
                <nz-tab nzTitle="Full Description">
                  <p>{{product?.fullDescription}}</p>
                </nz-tab>
              </nz-tabset>
            </div>
          <hr>
          <div class="cui-product-details-controls">
            <button nz-button nzType="primary" nzSize="large" (click)="addToCart(product)">
              <i nz-icon type="shopping-cart" theme="outline"></i>
              Buy now
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
