@import 'src/assets/styles/mixins.scss';

.preview {
  width: 100%;
}

.upload-icon {
  font-size: 32px;
  color: #999;
}
.ant-upload-text {
  margin-top: 8px;
  color: #666;
}

::ng-deep{
  .ant-upload.ant-upload-select-picture-card {
    width: 230px;
    height: 230px;
  }
}

